.DS_Store

.venv/
**/__pycache__/
**/*.pyc

backend/.env
frontend/.env.local
mobile/.env
.vercel/
.trae/

frontend/node_modules/
mobile/node_modules/

**/*.db
backend/.coverage
backend/coverage.xml
backend/coverage_total.xml
backend/report_all.xml
